<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>Hi, I’m Alaina<br /></h1>
        <p>A data scientist with a Ph.D. in Oceanography from Scripps Institution of Oceanography</p>
      </header>
      <p>My research focused on studying how environmental changes impact marine microbial distributions. 
      I have over 8 years of experience with managing, interpreting, and visualizing large environmental, ecologicaly, and metegenomic datasets.
      Throughout my community, I am a notable R expert and commonly teach colleagues how to run statistical analyses, interpret model output, and visualize model results.
        I am a seasoned mentor, a recognized leader in equity, diversity, and inclusion initiatives, and have been praised as an effective science communicator. </p>
      <ul class="actions">
        <li><a href="#" class="button big">Learn More</a></li>
      </ul>
    </div>
    <span class="image object">
      <img src="assets/images/pic10.jpg" alt="" />
    </span>
  </section>
